<div class="card show-card">
<div class="show">
    <h1 class="edit-task-h1">Editing Task</h1>
    
    <%= render 'edit_form', task: @task %>
      <hr>
    <%= link_to 'Show', @task, class: 'btn btn-danger' %>
    <%= link_to 'Back', tasks_path, class: 'btn btn-success' %>
    </div>
</div>